/*******************************************************************************
 *                                                                             *
 * FXRibbon                                                                   *
 *                                                                             *
 ******************************************************************************/
.ribbon-group .button:focused {
    -fx-border-color: transparent, black !important;
    -fx-border-width: 1, 1 !important;
    -fx-border-style: solid, segments(1, 2) !important;
    -fx-border-radius: 0, 0 !important;
    -fx-border-insets: -1 !important;
}

.ribbon-group .button:pressed, .ribbon-group .button:default:hover:pressed {
    -fx-background-color: RIBBON_BUTTON_SELECTED_COLOR !important;
    -fx-text-fill: CONTROLS_LABEL_COLOR !important;
}

/*******************************************************************************
 *                                                                             *
 * MenuButton                                                                   *
 *                                                                             *
 ******************************************************************************/
.ribbon-group .menu-button {
    -fx-border-color: transparent !important;
    -fx-border-width: 0 !important;

    -fx-background-radius: 0 !important;

    -fx-background-color: transparent !important;

    -fx-font-family:"Segoe UI" !important;
    -fx-font-size: 1em !important; /* 12 */
    -fx-text-fill: CONTROLS_LABEL_COLOR !important;

    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em !important; /* 4 8 4 8 */

    -shrink-animate-on-press: false !important;
}

.ribbon-group .menu-button.big {
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
}

.ribbon-group .menu-button:hover {
    -fx-background-color: RIBBON_BUTTON_HIGHLIGHT_COLOR !important;
}

.ribbon-group .menu-button:pressed, .ribbon-group .menu-button:default:hover:pressed {
    -fx-background-color: RIBBON_BUTTON_SELECTED_COLOR !important;
    -fx-text-fill: CONTROLS_LABEL_COLOR !important;
}

.ribbon-group .menu-button:focused {
    -fx-border-color: transparent, black !important;
    -fx-border-width: 1, 1 !important;
    -fx-border-style: solid, segments(1, 2) !important;
    -fx-border-radius: 0, 0 !important;
    -fx-border-insets: -1 !important;
}

.ribbon-group .menu-button:disabled, .ribbon-group > .menu-button:default:disabled {
    -fx-opacity: 0.4 !important;
}

/*******************************************************************************
 *                                                                             *
 * ZoomableScrollPane                                                          *
 *                                                                             *
 ******************************************************************************/
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * StatusBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.status-bar .left-items {
    -fx-spacing: 5px;
}

.status-bar .right-items {
    -fx-spacing: 5px;
}

/*******************************************************************************
 *                                                                             *
 * CaptionMenuItem                                                             *
 *                                                                             *
 ******************************************************************************/
.caption-menu-item {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: transparent, lightgray;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: -1;
}

.caption-menu-item:hover {
    -fx-background-color: #f5f5f5;
}

.caption-menu-item:hover > .label {
    -fx-text-fill: -fx-text-base-color;
}

.caption-menu-item:focused > .label {
    -fx-text-fill: -fx-text-base-color;
}
